<section aria-labelledby="intro-heading">
  <h1 id="intro-heading">Hi, I’m Ciarán <span aria-hidden="true">👨🏻‍💻</span>.</h1>

  <p><em><span aria-hidden="true">🗣️</span> Pronounced [KEER-awn].</em></p>

  <p>
    I love building new products, tackling exciting problems, and mastering new
    skills.
  </p>

  <p>
    I’m a principal machine learning engineer at
    <a href="https://www.workday.com/">Workday</a>, where I leverage advanced
    machine learning techniques to solve complex real-world problems. My recent
    work has a strong emphasis on the development and implementation of agentic
    systems.
  </p>

  <p>
    If you’d like to chat about machine learning, agentic systems, or anything
    in between, I’d love to hear from you. Drop me a line at
    <a href="mailto:me@ciaranfinn.dev">me@ciaranfinn.dev</a>.
  </p>
</section>
