---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import { WEBSITE_TITLE, WEBSITE_DESCRIPTION } from "../config";
---

<!doctype html>
<html lang="en">
  <Head title={WEBSITE_TITLE} description={WEBSITE_DESCRIPTION} />
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
